body {
  background-color: #c7f0db;
}

h1 {
    color: darkblue;
}

.spell_description {
    border-left: 4px solid grey;
    background-color: lightgrey;
    border-radius: 8px;
}

.em {
    font-weight: bold;
}

.traveller {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #000;
}

.title-traveller {
    color: #f00;
}

.text-traveller {
    color: #fff;
}

.history {
    display:none;
}