<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fluffy Hero Maker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/d_d.css') }}">
</head>
<a href="/">Home</a>
<h1>DnD5 Spell Display</h1>
<h2>{{spell.name}}</h2>
<ul>
  <li><strong>School</strong>: {{spell.school}}</li>
  <li>{% if spell.level > 0 %}<strong>Level</strong>: {{spell.level}} {% else %} Cantrip {% endif %}</li>
  <li><strong>Classes</strong>: {% for cl in spell.classes %} {{cl}}, {% endfor%}</li>
  <li><strong>Casting Time</strong>: {{spell.casting_time}}</li>
  {% if spell.ritual %}
  <li><strong>Ritual</strong></li>
  {% endif %}
  <li><strong>Range</strong>: {{spell.range}}</li>
  <li><strong>Duration</strong>: {{spell.duration}}</li>
  {% if spell.target %}
  <li><strong>Target</strong>: {{spell.target}}</li>
  {% endif %}
  <li><strong>Components</strong>: {{spell.components}}</li>
  {% if spell.concentration %}
  <li><strong>Concentration</strong></li>
  {% endif %}
  <li class="spell_description"><strong>Description</strong>: {{spell.description}}</li>
  {% if spell.upgrade %}
  <li><strong>At Higher Levels</strong>: {{spell.upgrade}}</li>
  {% endif %}
</ul>
